$color1:rgb(100, 216, 152);
$color2:rgb(178, 243, 104);
$color3:rgb(69, 223, 223);
$color4:rgb(250, 157, 146);
$font-size1:60px;

h1 {
    color :$color1;
    font-size: $font-size1;
    text-align:center;
    h{
        font-weight:normal;
    }
}


h2 {
    color :$color2;
    text-align: center;
    font-size:40px;
}

.img{
     text-align: center;
}

.imgBox{
    @extend .img;
}

ul li {
    color: $color3;
    font-size: 30px;
    text-align: center;
}

#room {
    text-align: center;
    font-size: x-large;
    font-weight:normal;
    color:$color4;
}

@media (min-width: 500px) {
    body {
        background-color: rgb(241, 212, 227);
    }
    }
    @media (max-width: 499px) {
    body {
        background-color: rgb(230, 238, 185);
    }
    }